.navbar {
  width: 100%;
  display: flex;
  align-items: center; /* vertical center */
  justify-content: space-between;
  padding: 12px 24px;
  background: var(--color-black);
  position: sticky;
  top: 0;
  z-index: 100;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.spacer {
  flex: 1;
}

